INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/synapse.desktop
depcomp
install-sh
libtool
ltmain.sh
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/Makefile
src/Makefile.in
src/core/.deps/
src/core/.libs/
src/core/Makefile
src/core/Makefile.in
src/core/SynapseCore-1.0.gir
src/core/common-actions.c
src/core/config-service.c
src/core/data-sink.c
src/core/dbus-service.c
src/core/desktop-file-service.c
src/core/libsynapsecore.la
src/core/libsynapsecore_la-common-actions.lo
src/core/libsynapsecore_la-common-actions.o
src/core/libsynapsecore_la-config-service.lo
src/core/libsynapsecore_la-config-service.o
src/core/libsynapsecore_la-data-sink.lo
src/core/libsynapsecore_la-data-sink.o
src/core/libsynapsecore_la-dbus-service.lo
src/core/libsynapsecore_la-dbus-service.o
src/core/libsynapsecore_la-desktop-file-service.lo
src/core/libsynapsecore_la-desktop-file-service.o
src/core/libsynapsecore_la-match.lo
src/core/libsynapsecore_la-match.o
src/core/libsynapsecore_la-plugin.lo
src/core/libsynapsecore_la-plugin.o
src/core/libsynapsecore_la-query.lo
src/core/libsynapsecore_la-query.o
src/core/libsynapsecore_la-relevancy-backend-zg.lo
src/core/libsynapsecore_la-relevancy-backend-zg.o
src/core/libsynapsecore_la-relevancy-service.lo
src/core/libsynapsecore_la-relevancy-service.o
src/core/libsynapsecore_la-result-set.lo
src/core/libsynapsecore_la-result-set.o
src/core/libsynapsecore_la-utils.lo
src/core/libsynapsecore_la-utils.o
src/core/libsynapsecore_la-volume-service.lo
src/core/libsynapsecore_la-volume-service.o
src/core/match.c
src/core/plugin.c
src/core/query.c
src/core/relevancy-backend-zg.c
src/core/relevancy-service.c
src/core/result-set.c
src/core/synapse-core.h
src/core/synapse-core.vala.stamp
src/core/synapse-core.vapi
src/core/utils.c
src/core/volume-service.c
src/plugins/.deps/
src/plugins/.libs/
src/plugins/Makefile
src/plugins/Makefile.in
src/plugins/banshee-plugin.c
src/plugins/calculator-plugin.c
src/plugins/chat-actions-plugin.c
src/plugins/chromium-plugin.c
src/plugins/command-plugin.c
src/plugins/desktop-file-plugin.c
src/plugins/devhelp-search.c
src/plugins/dictionary.c
src/plugins/directory-plugin.c
src/plugins/file-op-plugin.c
src/plugins/gnome-screensaver-plugin.c
src/plugins/gnome-session-plugin.c
src/plugins/hello-world-plugin.c
src/plugins/hybrid-search-plugin.c
src/plugins/launchpad-plugin.c
src/plugins/libplugins.la
src/plugins/libplugins_la-banshee-plugin.lo
src/plugins/libplugins_la-banshee-plugin.o
src/plugins/libplugins_la-calculator-plugin.lo
src/plugins/libplugins_la-calculator-plugin.o
src/plugins/libplugins_la-chat-actions-plugin.lo
src/plugins/libplugins_la-chat-actions-plugin.o
src/plugins/libplugins_la-chromium-plugin.lo
src/plugins/libplugins_la-chromium-plugin.o
src/plugins/libplugins_la-command-plugin.lo
src/plugins/libplugins_la-command-plugin.o
src/plugins/libplugins_la-desktop-file-plugin.lo
src/plugins/libplugins_la-desktop-file-plugin.o
src/plugins/libplugins_la-devhelp-search.lo
src/plugins/libplugins_la-devhelp-search.o
src/plugins/libplugins_la-dictionary.lo
src/plugins/libplugins_la-dictionary.o
src/plugins/libplugins_la-directory-plugin.lo
src/plugins/libplugins_la-directory-plugin.o
src/plugins/libplugins_la-file-op-plugin.lo
src/plugins/libplugins_la-file-op-plugin.o
src/plugins/libplugins_la-gnome-screensaver-plugin.lo
src/plugins/libplugins_la-gnome-screensaver-plugin.o
src/plugins/libplugins_la-gnome-session-plugin.lo
src/plugins/libplugins_la-gnome-session-plugin.o
src/plugins/libplugins_la-hello-world-plugin.lo
src/plugins/libplugins_la-hello-world-plugin.o
src/plugins/libplugins_la-hybrid-search-plugin.lo
src/plugins/libplugins_la-hybrid-search-plugin.o
src/plugins/libplugins_la-launchpad-plugin.lo
src/plugins/libplugins_la-launchpad-plugin.o
src/plugins/libplugins_la-locate-plugin.lo
src/plugins/libplugins_la-locate-plugin.o
src/plugins/libplugins_la-opensearch.lo
src/plugins/libplugins_la-opensearch.o
src/plugins/libplugins_la-pastebin-plugin.lo
src/plugins/libplugins_la-pastebin-plugin.o
src/plugins/libplugins_la-pidgin-plugin.lo
src/plugins/libplugins_la-pidgin-plugin.o
src/plugins/libplugins_la-rhythmbox-plugin.lo
src/plugins/libplugins_la-rhythmbox-plugin.o
src/plugins/libplugins_la-selection-plugin.lo
src/plugins/libplugins_la-selection-plugin.o
src/plugins/libplugins_la-ssh-plugin.lo
src/plugins/libplugins_la-ssh-plugin.o
src/plugins/libplugins_la-system-management.lo
src/plugins/libplugins_la-system-management.o
src/plugins/libplugins_la-test-slow-plugin.lo
src/plugins/libplugins_la-test-slow-plugin.o
src/plugins/libplugins_la-xnoise-media-player-plugin.lo
src/plugins/libplugins_la-xnoise-media-player-plugin.o
src/plugins/libplugins_la-zeitgeist-plugin.lo
src/plugins/libplugins_la-zeitgeist-plugin.o
src/plugins/libplugins_la-zeitgeist-related.lo
src/plugins/libplugins_la-zeitgeist-related.o
src/plugins/locate-plugin.c
src/plugins/opensearch.c
src/plugins/pastebin-plugin.c
src/plugins/pidgin-plugin.c
src/plugins/plugins.h
src/plugins/plugins.vala.stamp
src/plugins/plugins.vapi
src/plugins/rhythmbox-plugin.c
src/plugins/selection-plugin.c
src/plugins/ssh-plugin.c
src/plugins/system-management.c
src/plugins/test-slow-plugin.c
src/plugins/xnoise-media-player-plugin.c
src/plugins/zeitgeist-plugin.c
src/plugins/zeitgeist-related.c
src/tile-view/.deps/
src/tile-view/.libs/
src/tile-view/Makefile
src/tile-view/Makefile.in
src/tile-view/abstract-tile-object.c
src/tile-view/libtileview.la
src/tile-view/libtileview_la-abstract-tile-object.lo
src/tile-view/libtileview_la-abstract-tile-object.o
src/tile-view/libtileview_la-tile-view.lo
src/tile-view/libtileview_la-tile-view.o
src/tile-view/libtileview_la-tile.lo
src/tile-view/libtileview_la-tile.o
src/tile-view/libtileview_la-wrap-label.lo
src/tile-view/libtileview_la-wrap-label.o
src/tile-view/tile-view.c
src/tile-view/tile-view.h
src/tile-view/tile-view.vala.stamp
src/tile-view/tile-view.vapi
src/tile-view/tile.c
src/tile-view/wrap-label.c
src/ui/.deps/
src/ui/Makefile
src/ui/Makefile.in
src/ui/category.c
src/ui/controller.c
src/ui/icon-cache-service.c
src/ui/inspector.c
src/ui/interfaces.c
src/ui/keybindings.c
src/ui/model.c
src/ui/settings.c
src/ui/synapse
src/ui/synapse-category.o
src/ui/synapse-controller.o
src/ui/synapse-icon-cache-service.o
src/ui/synapse-inspector.o
src/ui/synapse-interfaces.o
src/ui/synapse-keybindings.o
src/ui/synapse-main.c
src/ui/synapse-model.o
src/ui/synapse-settings.o
src/ui/synapse-synapse-main.o
src/ui/synapse-utils.o
src/ui/synapse-view-base.o
src/ui/synapse-view-default.o
src/ui/synapse-view-doish.o
src/ui/synapse-view-essential.o
src/ui/synapse-view-side-doish.o
src/ui/synapse-view-virgilio.o
src/ui/synapse-widgets-matchlistview.o
src/ui/synapse-widgets.o
src/ui/synapse_vala.stamp
src/ui/utils.c
src/ui/view-base.c
src/ui/view-default.c
src/ui/view-doish.c
src/ui/view-essential.c
src/ui/view-side-doish.c
src/ui/view-virgilio.c
src/ui/widgets-matchlistview.c
src/ui/widgets.c
stamp-h1
vapi/Makefile
vapi/Makefile.in
